[access "refs/*"]
	owner = group user/Kevin Gustavo M. Q. (kevingmq)
[access "refs/for/refs/*"]
	read = group user/Kevin Gustavo M. Q. (kevingmq)
	push = group user/Kevin Gustavo M. Q. (kevingmq)
	label-Code-Review = -2..+2 group user/Kevin Gustavo M. Q. (kevingmq)
	label-Verified = -1..+1 group user/Kevin Gustavo M. Q. (kevingmq)
	rebase = group user/Kevin Gustavo M. Q. (kevingmq)
	removeReviewer = group user/Kevin Gustavo M. Q. (kevingmq)
	submit = group user/Kevin Gustavo M. Q. (kevingmq)
[access "refs/heads/*"]
	read = group user/Kevin Gustavo M. Q. (kevingmq)
	create = group user/Kevin Gustavo M. Q. (kevingmq)
	push = +force group user/Kevin Gustavo M. Q. (kevingmq)
	pushMerge = group user/Kevin Gustavo M. Q. (kevingmq)
[access "refs/tags/*"]
	push = +force group user/Kevin Gustavo M. Q. (kevingmq)
	pushTag = group user/Kevin Gustavo M. Q. (kevingmq)
	pushSignedTag = group user/Kevin Gustavo M. Q. (kevingmq)
